<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="@MadeByGus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <link href="@@stylesheet" rel="stylesheet"> <!-- App styles -->
  </head>
  <body>
    <div class="site-wrapper"> <!-- Body -->
      @@include('header.html')
      <aside class="site-menu"></aside>
      <main class="site-content" role="main">
      <!-- Header -->
