@import "sass/canya";

$site-wrapper-padding-top: 112px;

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: $gray-100;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

.site-wrapper {
  padding-top: $site-wrapper-padding-top;
  min-height: 89vh;
}
 
