<section style="margin-top:90px;">
  <div class="container-fluid">
    <div class="container">
      <div class="row py-20 min-h-30v">
        <div class="rounded-div col-lg-12 col-sm-12 drop-shadow text-center">
          <div class="p-20 centered-div">
              <h4 class="py-20">Welcome, Developers!</h4>
              <p>
                Welcome to CanYa's common app! from here you will be able to develop your very own CanWork!
                <br>
                <br>
                Should you need any guidance, do check out our <a href="https://github.com/canyaio/Common" target="_blank">Github Page</a>. If you find any issues, please report them <a href="https://github.com/canyaio/Common/issues" target="_blank">here</a>. 
              </p>
              <img src="https://canstyle.io/assets/img/canya.svg" class="py-20 max-w-20v">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>