@charset "UTF-8";

@import "bootstrap/scss/functions";
@import "sass/_bootstrap-variables";
@import "bootstrap/scss/mixins";

// EBM variables
// @import "sass/ebm-variables";
// @import "sass/ebm-fonts-setup";
// @import "ebm/functions/ebm-functions";
// @import "ebm/helpers/ebm-helpers";
// @import "ebm/control/ebm-container-control";

// @import "sass/theme/variables";
// @import "sass/theme/mixins";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/print";
@import "bootstrap/scss/type";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/bootstrap-grid";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/nav";

// @import "sass/fontawesome/fontawesome";
// @import "sass/fontawesome/fa-brands";
// @import "sass/fontawesome/fa-solid";

// @import "sass/theme/utility/spacing";
// @import "sass/theme/content/typography";
// @import "sass/theme/layout/scafolding";
// @import "sass/theme/layout/footer";
// @import "sass/theme/layout/section";
// @import "sass/theme/uikit/button";
// @import "sass/theme/uikit/social";
// @import "sass/theme/uikit/scroll";
// @import "sass/theme/uikit/nav";
// @import "sass/theme/uikit/alert";
// @import "sass/theme/layout/topbar";

$site-wrapper-padding-top: 112px;
